[submodule "rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/cpplint"]
	path = extern/cpplint
	url = https://github.com/cpplint/cpplint.git
[submodule "extern/abseil"]
	path = extern/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "extern/cmake-doxygen"]
	path = extern/cmake-doxygen
	url = https://github.com/Oleh-Kravchenko/cmake-doxygen.git
